/* SPDX-FileCopyrightText: 2023 Cosylab d.d. https://www.cosylab.com */
/* SPDX-License-Identifier: MIT-0 */


.wy-nav-side {
    background: #371D4F
}

.wy-menu-vertical p.caption {
    color: #FFFFFF
}

.wy-side-nav-search input[type="text"] {
    border-color: #371D4F;
}
