/* SPDX-FileCopyrightText: 2022 Cosylab d.d. https://www.cosylab.com */
/* SPDX-License-Identifier: MIT-0 */


.wy-nav-side {
    background: #00002C
}

.wy-menu-vertical p.caption {
    color: #FFFFFF
}

.wy-side-nav-search input[type="text"] {
    border-color: #00002C;
}
